.body {
  background-color: #eeeeee;
  padding: 10px 0;
  max-height: 75px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-heading {
  font-weight: 700;
  font-size: 20px;
  color: #333;
}

.nav {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-item {
  font-size: 20px;
  padding: 5px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-item:hover {
  color: #686868;
}

@media only screen and (max-width: 767px) {
  .nav {
    display: none;
  }

  .body {
    width: 100%;
  }

  .nav.open {
    flex-direction: column;
    align-items: flex-end;
  }

  .nav-heading {
    font-size: 18px;
  }

  .nav-container {
    position: relative;
  }

  .nav.open {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
